#leetcode_questions_table tbody tr:nth-child(odd) {
	background: #CCC;
}

#leetcode_questions_table tbody tr:nth-child(even) {
	background: #FFF;
}

#leetcode_questions_table thead th {
	text-align: left;
}